a {
    text-decoration: none;
    color: var(--neutral-dark-color);
}

nav {
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--surface-color);

    padding: 1rem var(--layout-x-margin);
}

.menu {
    position: relative;

    z-index: 1;
}

.logo {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;

    margin-top: 0.6rem;

    display: flex;
    justify-content: center;

    font-family: var(--accent-font-family);
    font-size: 1.5rem;
}

.logo-accent {
    color: var(--primary-color);
}