/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --layout-x-margin: 1rem;

    --primary-color: #357DED;
    --surface-color: #EFEFEF;
    --on-background-color: #001524;
    --on-background-light-color: #001524ce;

    --accent-font-family: 'Abril Fatface', cursive;
    --headline-font-family: 'Noto Sans', sans-serif;
    --body-font-family: 'Noto Sans', sans-serif;

    --headline-font-size: 1.25rem;
    --subtitle-font-size: 0.75rem;

    color: var(--on-background-color);
}

body {
    font-family: var(--body-font-family);
    margin: 0;
}

h1 {
    font-family: var(--headline-font-family);
    font-size: var(--headline-font-size);

    margin-top: 0.5rem;
    margin-bottom: 0;
}

p {
    margin: 0;
}